<!DOCTYPE html>
<html>
<title>HT14X</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/png" href="./ht14x_s.png" />
<link rel="stylesheet" href="./w3.css">
<link rel="stylesheet" href="./styles.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<style>
    html,
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Roboto", sans-serif
    }
</style>

<body class="w3-light-grey">
    <div class="header w3-container w3-amber w3-right-align">
        <div class="header-logos"><a href="https://github.com/HT14X" target="_blank"><img src="./GitHub-Mark.png"></a>
        </div>
    </div>
    <!-- Page Container -->
    <div id="app" class="w3-content w3-margin-top" style="max-width:1400px;">
        <!-- The Grid -->
        <div class="w3-row-padding">

            <!-- Left Column -->
            <div class="w3-third">

                <div class="w3-white w3-text-grey w3-card-4">
                    <div class="w3-display-container">
                        <img src="./ht14x_s.png" style="width:100%" alt="Avatar">
                    </div>
                    <div class="w3-container">
                        <p><i class="fa w3-large "></i><b>Software Development And Consulting</b></p>
                        <p><i class="fa fa-user fa-fw w3-margin-right w3-large "></i>Jiri Hajek</p>
                        <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large "></i>Senior Software
                            Developer</p>
                        <p><i class="fa fa-home fa-fw w3-margin-right w3-large "></i>Prague, CZ</p>
                        <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large "></i><a
                                href="mailto:jiri@htiax.com">jiri@htiax.com</a></p>
                        <hr>

                        <p class="w3-large"><b><i class="fa fa-terminal fa-fw w3-margin-right "></i>Technology</b></p>
                        <p><i class="fa fa-code fa-fw w3-margin-right w3-large "></i>JAVA, C#, JavaScript,
                            TypeScript</p>
                        <p><i class="fa fa-cube fa-fw w3-margin-right w3-large "></i>Angular 2+, Vue.js, Node.js</p>
                        <p><i class="fa fa-database fa-fw w3-margin-right w3-large "></i>Oracle DB, MySQL,
                            PostgreSQL, MongoDB, Redis</p>
                        <p><i class="fa fa-paper-plane fa-fw w3-margin-right w3-large "></i>NATS, RabbitMQ, GRPC
                        </p>
                        <p><i class="fa fa-server fa-fw w3-margin-right w3-large "></i>Docker, k8s, Linux
                        </p>
                        <br>
                    </div>
                </div>
                <br>

                <!-- End Left Column -->
            </div>

            <!-- Right Column -->
            <div class="w3-twothird">

                <div v-if="development.length > 0" class="w3-container w3-card w3-white w3-margin-bottom">
                    <h2 class="w3-text-grey w3-padding-16"><i
                            class="fa fa-code fa-fw w3-margin-right w3-xxlarge "></i>Open Source
                        Development
                    </h2>
                    <div class="w3-container" v-for="item in development">
                        <h5 class="w3-opacity"><b>{{ item.name }}</b></h5>
                        <p>{{ item.desc }}</p>
                        <p><a v-bind:href="item.link">{{ item.link }}</a></p>
                        <hr>
                    </div>
                </div>

                <div v-if="articles.length > 0" class="w3-container w3-card w3-white">
                    <h2 class="w3-text-grey w3-padding-16"><i
                            class="fa fa-folder fa-fw w3-margin-right w3-xxlarge "></i>Articles</h2>

                    <div class="w3-container" v-for="item in articles">
                        <h5 class="w3-opacity"><b>{{ item.name }}</b></h5>
                        <p>{{ item.desc }}</p>
                        <p><a v-bind:href="item.link">{{ item.link }}</a></p>
                        <hr>
                    </div>
                </div>

                <!-- End Right Column -->
            </div>

            <!-- End Grid -->
        </div>

        <!-- End Page Container -->
    </div>
    <script type="text/javascript" src="./web.js"></script>
</body>

</html>